* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: rgba(95, 99, 104, 0.87);
}

/* selettori header */
header {
    padding: 0 24px;
    border-bottom: 1px solid rgba(151,151,151,0.5);
    font-weight: 400;
    height: 90px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

h1 {
    font-weight: 400;
    font-size: 22px;
    margin: 0 0 0 10px;
}

#header-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 65%;
}

#header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35%;
}

nav li {
    display: inline-block;
    padding-right: 42px;
    padding-bottom: 6px;
    font-size: 15px;
}

header li:last-of-type {
    color: #3367d6;
    border-bottom: 3px solid #3367d6;
    padding: 0 0 8px 0;
}

#header-bottom a {
    font-weight: 600;
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 6px;
    font-size: 13px;
}

.account img {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

/* selettori main */
#faq {
    min-height: calc(100vh - 45px);
}

.container {
    width: 978px;
    margin: 0 auto;
    padding: 122px 0 32px 0;
}

.faq-item h2 {
    color: #3c4043;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin: 64px 0 0 0;
    cursor: pointer;
}

.faq-item h2:hover {
    text-decoration: underline;
}

.faq-item:not(:first-child) .risposte {
    display: none;
}

.faq-item .risposta.active {
    display: block;
}

.faq-item p {
    line-height: 24px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

/* selettori footer */
footer {
    height: 45px;
    background: #f5f5f5;
    border-top: 1px solid #eee;
    font-size: 11px;
    line-height: 2.19;
    padding: 10px 15px 10px 15px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 3px;
}

footer li:not(:first-child)::before {
    content: "-";
    margin-right: 3px;
}

footer select {
    padding-right: 80px;
}
